<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
      <div class="img-container">
        <img class="img-responsive" src="./assets/alan.JPG" alt="">
      </div>
    </div>
    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
      <div class="thumbnail-container">
        <div class="thumbnail">
          <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/JcBjXOMUuak" frameborder="0"
            allowfullscreen></iframe>
          <br>
          <div class="donate-button">
            <a class="btn btn-danger btn-lg" role="button" href="https://www.youcaring.com/alanjaco-905918/donate/general" target="_blank">Donation</a>
          </div>
        </div>
      </div>
      <div class="thumbnail-container">
        <div class="thumbnail">
          <div class="donate-button">
            <div class="slider-container">
              <app-carousel></app-carousel>
              <img src="./../assets/roda.jpg" alt="" class="roda-img img-responsive">

            </div>
            <a class="btn btn-success btn-lg" href="https://rafflecreator.com/pages/17252/support-of-alan" target="_blank">Raffle</a>
          </div>
        </div>
      </div>
      <div class="thumbnail-container">
        <div class="donate-button thumbnail">
          <h2 class="title">Ride for Alan</h2>
          <div class="sub-title">
            <h4>When: Oct 1st 2017 7:00 a.m.</h4>
            <h4>Where: Sullivan Park, Riverview Rd, Deerfield Beach, FL, 33441</h4>
          </div>
          <div class="register-container">
            <div>
              <img src="./../assets/ride-for-alan.jpg" alt="" class="group-img img responsive">
            </div>
            <div>
              <img src="./../assets/walking.jpg" alt="" class="group-img img responsive">
            </div>
            <div>
              <img src="./../assets/running.jpg" alt="" class="group-img img responsive">
            </div>
          </div>
          <a class="btn btn-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSddtfHumZrOR0NyBjr8C5pNdAvqfFYy9bCq3ChCJ0aud2juOg/viewform"
            target="_blank">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
